 // .StudentTimingQuestionsContainer{
 //     display: flex;
 //     flex-direction: row;
 //     align-items: flex-start;
 //     flex-wrap: nowrap;
 //     justify-content: space-around;
 // }

 .StudentTimingQuestionsContainer{
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: nowrap;
     justify-content: center;
 }

 .nameContainer{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     flex-wrap: nowrap;
     justify-content: space-around;
 }

 .StudentTimingHeaderContainer{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     flex-wrap: nowrap;
     justify-content: space-between;

 }

 .StudentTimingDescContainer{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     flex-wrap: nowrap;
     justify-content: space-between;
 }

 #icon{
     font-size: 5em;
 }

 .buttonContainer{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
 } 