.paginator{
  margin: 10vw;
  margin-top: 10vh;
}

.paginator > ul{
  text-align: center;
  list-style: none;
  position: fixed;
  bottom: 5em;
  width: 80vw;
}

.paginator > ul > li{
  display: inline;
}

.paginator > ul > li > a{
  cursor: pointer;
  background-color: #C6CED2;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  transition: color .25s, background-color 0;
}

.paginator > ul > li.previous > a{
  color: white;
  background-color: #45B990;
  margin-right: 2em;
}

.paginator > ul > li.next > a{
  color: white;
  background-color: #45B990;
  padding-right: 2em;
  padding-left: 2em;
  margin-left: 2em;
}

.paginator > ul > li.selected > a{
  color: white;
  background-color: #45B990;
  transition: color .125s, background-color .25s;
}

.question{
  margin-bottom: 10em;
}

.question-header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.question-header-prompt > h1{
  margin: 0;
}

.question-header-icon{
  font-size: 10em;
}

.question-fields{
  height: 50vh;
}

.question-fields-title{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2vw;
  align-self: center;
}
.question-fields-text{
  width: 30%;
}

.question-fields-button{
  margin-top: 0;
  margin-left: 1vw;
}

.question-fields-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40vh;
}

.question-fields-list-mm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10vh;
}

.question-fields-resp{
  margin-left: 1.25em;
}

.question-fields-items-header{
  display: flex;
  margin-bottom: 4vh;
}

.question-fields-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.question-fields-item{
  font-size: small;
  color: white;
  width: fit-content;
  border-radius: 20px;
  background-color: #4cb184;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2vh;
}

.question-submit{
  position: fixed;
  bottom: 10em;
  right: 10vw;
}

.question-fields-exp-header{
  display: flex;
}
