.dashboard{
    margin-left: 5vw;
    margin-right: 10vw; 
    margin-bottom: 20vh;
}

.dashboardContent{
    display: flex;
    flex-direction: row;
}

.stats{
    width: 30%; 
    font-size: 28px;
}

.graphs{
    width: 70%;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    overflow: scroll;
}

.graphRow{
    display: flex;
    flex-direction: row;
}


.pieGraph{
    width: 50%
}

.imptMessage{
    color: red;
    font-style: italic;
}
