.faqContainer {
  height: 100%;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 5em;
}

.faqList {
  padding-left: 2em;
}

.emphasize {
  font-style: italic;
}

.faqTitle {
  text-align: center;
}