.landingPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.landingPageSignupBtn {
  background-color:  #45B990;
  color: white;
  border: 0;
  text-decoration: none;
  font-size: 1.25em;
  border-radius: .75em;
  width: 6em;
  height: 2em;
  margin: .5em;
  font-family: Avenir Next;
}
.landingPageLearnMoreBtn {
  background-color:  #45B990;
  color: white;
  border: 0;
  text-decoration: none;
  font-size: 1.25em;
  border-radius: .75em;
  width: 7em;
  height: 2em;
  margin: 1.5em;
  font-family: Avenir Next;
}

.landingPageSignupBtn:hover, .landingPageLearnMoreBtn:hover {
  background-color: #2D7D61;
}

.topHalfContainer {
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.heroImageContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroText {
  font-size: 1.2em;
  width: 80%;
}

.heroImage {
  max-height: 100%;
  border-radius: 1em;
}

.bottomHalfContainer {
  height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.howBackground {
  height: 100%;
  width: 95%;
  background-color: #EFEFF0;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.howContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.stepContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.stepImageContainer {
  height: 50%;
}

.stepText {
  text-align: center;
}

.stepImage {
  margin-top: 1em;
  max-height: 15vh;
  margin-bottom: 1em;
}