body, html {
    font-family: Avenir Next;
    font-style: normal;
    height: 100%;
    padding: 0;
    margin: 0;
}
#nav-bar{
    background: #2D7D61;
    margin:0;
    padding: 0;
    height: 5vw;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a:link {
    text-decoration: none;
}

#nav-bar li{
    //padding-right: 4vw;
    padding-right: 2em;
    padding-left: 2em;
    list-style: none;
}
#nav-bar a{
    color: white;
}

#nav-bar .active {
    color: white;
}

.mccv {
  color: white;
  font-weight: 550;
}

#navbar li:first-child {
  // margin-right: auto;
  flex-grow: 1;
}
