body, html {
    font-family: Avenir Next;
    font-style: normal;
    height: 100%;
    padding: 0;
    margin: 0;
}
#nav-bar{
    background: #2D7D61;
    margin:0;
    padding: 0;
    height: 3.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a:link {
    text-decoration: none;
}

#nav-bar li{
    //padding-right: 4vw;
    padding-right: 2em;
    padding-left: 2em;
    list-style: none;
}
#nav-bar a{
    color: white;
}

#nav-bar .active {
    color: white;
}

.mccv {
  color: white;
  font-weight: 550;
}

#navbar li:first-child {
  // margin-right: auto;
  flex-grow: 1;
}

.navLoginBtn, .navLogoutBtn{
  background-color: #EFEFF0;
  color: black;
  border: 0px solid #C2C8CB; // 3px on white
  text-decoration: none;
  font-size: 1em;
  border-radius: .85em;
  width: 5.5em;
  height: 2.25em;
  transition: width .25s, height .25s, font-size .25s;
  transition-timing-function: linear;
  margin: 1.5em;
  font-family: Avenir Next;
}

.navLoginBtn:hover, .navLogoutBtn:hover{
  background-color: #C2C8CB;
}

.dropdownOptions {
  // visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}