.list{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.listItem{
    background-color: #EFEFF0;
    margin-top: 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 275px;
    width: 275px;
    display: flex;
    flex-direction: column;
    color: #000000
}

.companyInfo{
    display: flex;
    justify-content: space-between;
    height: 40%;
    margin-right: 5px;
    margin-left: 5px;
}

.companyText{
    width: 55%;
    text-align: center;
}

.companyText > h1{
    font-weight: normal;
    margin-block-end: 0;
    margin-block-start: .5em;
}

.location{
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.location > h2{
    font-weight: normal;
    border-bottom: 0;
    display: flex;
    font-size: 80%;
    text-align: center;
    padding: 0;
}

.locationIcon{
    background: url('../static/imgs/location.png');
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    display: block;
}

#startupName{ 
    font-size: 150%;
}

.postInfo{
    height: 60%;
    margin-right: 5px;
    margin-left: 15px;
}

.listItem:hover{
    box-shadow: 1px 8px 8px  rgba(0, 0, 0, 0.25);
}

#postTitle{ 
    font-weight: normal;
    text-align: center;
    font-size: 140%;
}

.extraInfo {
    height: 60%;
    margin-right: 5px;
    margin-left: 15px;
}

.extraInfo > h1{
    font-weight: normal;
    text-align: center;
    font-size: 120%;
}

.extraInfo > h2{
    font-weight: normal;
    border-bottom: 0;
    font-size: 100%;
}

.industriesList > h1{
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: normal;
    border-bottom: 0;
    font-size: 120%;
    margin-right: 2vw;
}

.extraInfo > h3 {
    font-weight: normal;
    font-size: 90%
}

.industriesList{
    display: flex;
    flex-wrap: wrap;
}

.industriesList > h2 {
    font-size: 100%;
}

#notFirstInd{
    margin-left: 38%;
}

.pill#notFirstInd{
    margin-left: 0;
    margin-bottom: 1vh;
    margin-right: 1vw;
}

#industryTitle{
    display: flex;
}

.postings > h2{
    font-weight: normal;
    border-bottom: 0;
    font-size: 100%;
    padding-right: 1vw;
}

.postings{
    display: flex;
    flex-wrap: wrap;
}

.pill{
    background-color:rgba(69, 185, 144, 0.5);
    border-radius: 10px;
    width: fit-content;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-bottom: 1vh;
}

.basicInfo{
    margin-left: 5px
}

.basicInfo > h1, h2{
    font-weight: normal;
    font-size: 130%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}

.skills > .pill{
    margin-right: 2%;
    margin-left: 2%;
}

.pageContent{
    height: 100%
}

.content{
    display: flex;
    justify-content: flex-start;
}

.sideFilterBar{
    background-color: #EFEFF0;
}

#search-bar {
    margin-bottom: 20px;
  
    input {
      font-size: 1.5em;
      border-radius: .25em;
    }
}


