.signupPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupBoard {
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signupLeft {
  width: 50%;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.signupRight {
  width: 50%;
  margin: 2em;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.signupRight h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.5em;
  margin: 0px;
}

.signupEmail, .signupPassword {
  width: 100%;
  margin-top: 3em;
}

.signupRight input{
  width: 90%;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  font-size: 1em;
  border-radius: 5px;
  border: rgb(138, 138, 138) solid 1px;
}

// commented out in js file
.signupButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// new
.signupActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.signupSignupBtn {
  background-color:  #45B990;
  color: white;
  border: 0;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 1em;
  width: 7em;
  height: 2.5em;
  // margin: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-family: Avenir Next;
}

.loginLink {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}

.loginLink:hover {
  color: #2D7D61;
}
.signupSignupBtn:hover {
  background-color: #2D7D61;
}

.signupLoginBtn {
  background-color: #EFEFF0;
  color: black;
  border: 3px solid #C2C8CB;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 1em;
  width: 7em;
  height: 2.5em;
  transition: width .25s, height .25s, font-size .25s;
  transition-timing-function: linear;
  margin: 1.5em;
  font-family: Avenir Next;
}

.signupLoginBtn:hover {
  background-color: #C2C8CB;
}

.signupError {
  color: #EB2828;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5em;
  margin-top: .5em;
}

.roleBtn {
  background-color: #EFEFF0;
  color: black;
  border: 3px solid #C2C8CB;
  text-decoration: none;
  font-size: 1.25em;
  border-radius: 1em;
  width: 7em;
  height: 2.5em;
  transition: width .25s, height .25s, font-size .25s;
  transition-timing-function: linear;
  margin: 1.5em;
  font-family: Avenir Next;
}

.roleSelectedBtn {
  background-color: #C2C8CB;
  color: black;
  text-decoration: none;
  font-size: 1.25em;
  border-radius: 1em;
  width: 7em;
  height: 2.5em;
  transition: width .25s, height .25s, font-size .25s;
  transition-timing-function: linear;
  margin: 1.5em;
  font-family: Avenir Next;
}