.job-info{
  text-align: center;
}
.question {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #EDEBEB;
    padding: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
