.startup {
  display: flex;
  flex-direction: row;
}

.startup-postings {
  width: 30vw;
  justify-content: center;
  background-color: #EDEDED;
  height: 100vh;
}

.startup-postings > h1{
  margin-top: 30px;
  font-size: medium;
  text-align: center;
}

.startup-postings-h1{
  margin-top: 30px;
  font-size: medium;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
}

.startup-postings-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.startup-posting {
  border-radius: 5vh;
  background-color: white;
  padding: 20px;
  margin: 20px;
  font-size: smaller;
}

.startup-posting-title {
  font-weight: bolder;
}

.startup-posting-description {
  font-weight: lighter;
}

.startup-posting-time{
  font-weight: normal;
}

.startup-body{
  padding-left: 10vw;
  padding-right: 10vw;
  width: 70vw;
  text-align: center;
}

.startup-name{
  margin-bottom: 3vh;
}

.startup-location{
  font-style: italic;
  margin-bottom: 3vh;
}

.startup-industries{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.industry{
  font-size: small;
  color: white;
  width: fit-content;
  border-radius: 20px;
  background-color: #4cb184;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 10vh;
}

.startup-description{
  text-align: left;
}

br{
  height: 10vh;
}

// @media screen and (max-width: 700px) {
//   .startup {
//     display: flex;
//     flex-direction: column-reverse;
//   }

//   .startup-postings {
//     width: 100%;
//   }
  
//   .startup-body{
//     width: 100vw;
//   }
// }

.startup-add-posting-btn {
  background-color:  #45B990;
  color: white;
  border: 0px solid #C2C8CB; // 3px on white
  text-decoration: none;
  font-size: 1.25em;
  border-radius: 1.25em;
  width: 2em;
  height: 2em;
  margin-left: 1em;
  font-family: Avenir Next;
}

.startup-add-posting-btn:hover {
  background-color: #2D7D61;
}

.startup-add-posting-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

