.startup-profile {
  display: flex;
  flex-direction: row;
}

.startup-profile-postings {
  width: 30vw;
  justify-content: center;
  background-color: #EDEDED;
  height: 100vh;
}

.startup-profile-postings > h1{
  margin-top: 30px;
  font-size: medium;
  text-align: center;
}

.startup-profile-postings-list {
  display: flex;
  flex-direction: column;
}

.startup-profile-posting {
  border-radius: 5vh;
  background-color: white;
  padding: 20px;
  margin: 20px;
  font-size: smaller;
}

.startup-profile-posting-title {
  font-weight: bolder;
}

.startup-profile-posting-description {
  font-weight: lighter;
}

.startup-profile-posting-time{
  font-weight: normal;
}

.startup-profile-body{
  padding-left: 10vw;
  padding-right: 10vw;
  width: 70vw;
  text-align: center;
}

.startup-profile-name{
  margin-bottom: 3vh;
}

.startup-profile-location{
  font-style: italic;
  margin-bottom: 3vh;
}

.startup-profile-industries{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.startup-profile-industry{
  font-size: small;
  color: white;
  width: fit-content;
  border-radius: 20px;
  background-color: #4cb184;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 10vh;
}

.startup-profile-description{
  text-align: left;
}

.startup-profile-break{
  height: 10vh;
}

// @media screen and (max-width: 700px) {
//   .startup-profile {
//     display: flex;
//     flex-direction: column-reverse;
//   }

//   .startup-profile-postings {
//     width: 100%;
//   }
  
//   .startup-profile-body{
//     width: 100vw;
//   }
// }