body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}
#nav-bar{
    background: #C4C4C4;
    margin:0;
    padding: 0;
    height: 5vw;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
a:link {
    text-decoration: none;
}
#nav-bar li{
    padding-right: 4vw;
    list-style: none;
}
#nav-bar a{
    color: black;
}
#nav-bar .active {
    color: white;
}

.postList{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.postListItem{
    background-color: grey;
    margin-top: 3%;
    box-shadow: 4px 4px 15px ;
    height: 100%;
}

.postListItem:hover{
    box-shadow: 9px 9px 20px ;
}