.terms-container {
  z-index: 2;
  position: fixed;
  top: 6em;
  bottom: 6em;
  padding-right: 5em;
  padding-left: 5em;
  overflow-y: scroll;
  background-color: white;
}

.terms-close-modal {
  width: 20px;
  align-self: end;
  margin-top: 5px;
  margin-right: 20px;
}

.new-title-modal {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
}

.modal-signed-button {
  width: 20em;
  height: 2.5em;
  font-family: Avenir Next;
  font-style: normal;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #45B990;
  border: 0;
  box-sizing: border-box;
  border-radius: 1em;
  color: white;
}

.modal-signed-button:hover{
  background-color: #2D7D61;
}

.modal-unsigned-button {
  width: 20em;
  height: 2.5em;
  font-family: Avenir Next;
  font-style: normal;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #EFEFF0;
  border: rgb(138, 138, 138) solid 1px;
  box-sizing: border-box;
  border-radius: 1em;
  color: black;
}

.modal-unsigned-button:hover{
  background-color: #EFEFF0;
  border: rgb(138, 138, 138) solid 1px;
}

#first-student-input {
  margin-top: 20px;
}

.terms-short-input {
  width: 90%;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  font-size: 1em;
  border-radius: 5px;
  border: #8a8a8a solid 1px;
}